<div id="booking">
    <a href="#booking" id="close-booking">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <form id="booking-form" action="" method="post">
        <div>
            <input type="text" name="firstname" placeholder="First Name">
        </div>
        <div>
            <input type="text" name="lastname" placeholder="Last Name">
        </div>
        <div>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div>
            <input type="number" name="persons" min="1" max="10" step="1" placeholder="Number of persons">
        </div>
        <div>
            <input type="text" id="datehour" name="datehour" placeholder="Date and hour">
        </div>
        <p>
            <input type="submit" value="Book now">
        </p>
    </form>
</div>