<form action="/search" method="post" id="search">
    <div class="wrap">
        <input type="text" id="q" name="q" placeholder="Search" autocomplete="off">
        <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
    </div>
</form>